{# src/Lictevel/MyceliumBundle/Resources/views/Mycelium/caracteristiquesChampignon.html.twig #}


{% extends "LictevelMyceliumBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Caracteristiques du champignon {% endblock %}


{% block body %}

  <h1> Caractéristiques de champignon </h1>

  {% for message in app.session.flashbag.get('notice') %}
    <p> {{ message }} </p>
  {% endfor %}

  {% if champignon != null %}

    <p>
      {% if champignon.image != null %}
        <div class="col-xs-3 col-sm-2">
          <img class="img-responsive" src="{{ asset(champignon.image.url) }}" alt="{{ champignon.image.alt }}">
        </div>
      {% else %}
        <p> Photo manquante </p>
      {% endif %}

      <div class="col-xs-12">
        Nom : {{ champignon.name }} <br>
        <br>
        Propriétaire : {{ champignon.joueur.pseudo }} <br>
        <br>
        Taille du mycélium : {{ champignon.tailleMycelium }} <br>

        <br>
        {{ include('LictevelMyceliumBundle:Mycelium:prod.html.twig', { 'champignon': champignon} ) }}

        {% if champignon.joueur.id == app.session.get('user_id') %}
          <br>
          {{ include('LictevelMyceliumBundle:Mycelium:stocks.html.twig', { 'champignon': champignon} ) }}
        {% endif %}
      </div>
    </p>
  {% endif %}

{% endblock %}
