{# src/Lictevel/MyceliumBundle/Resources/views/Mycelium/caracteristiquesChampignon.html.twig #}


{% extends "LictevelMyceliumBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Caracteristiques du champignon {% endblock %}


{% block body %}

  <h1> Caractéristiques de champignon </h1>

  {% for message in app.session.flashbag.get('notice') %}
    <p> {{ message }} </p>
  {% endfor %}

  {% if champignon != null %}

    <p>
      {% if champignon.image != null %}
        <img src="{{ champignon.image.url }}" alt="{{ champignon.image.alt }}">
      {% else %}
        <p> Photo manquante </p>
      {% endif %}

      Nom : {{ champignon.name }} <br>
      <br>
      Propriétaire : {{ champignon.joueur.pseudo }} <br>
      <br>
      Taille du mycélium : {{ champignon.tailleMycelium }} <br>

      {{ include('LictevelMyceliumBundle:Mycelium:prod.html.twig', { 'champignon': champignon} ) }}

      {% if champignon.joueur.id == app.session.get('user_id') %}
        {{ include('LictevelMyceliumBundle:Mycelium:stocks.html.twig', { 'champignon': champignon} ) }}
      {% endif %}

      Liste des mutations : affichage à venir
    </p>
  {% endif %}

{% endblock %}
