<div class="well col-xs-6 col-sm-3">
  <p>
    <img class="img-responsive" src="{{ asset(champignon.image.url) }}" alt="{{ champignon.image.alt }}">
    Nom : {{ champignon.name }} <br>
    Propriétaire : {{ champignon.joueur.pseudo }} <br>
    Taille du mycelium : {{ champignon.tailleMycelium }} <br>
    <a class="btn btn-default" href="{{ path('lictevel_mycelium_caracteristiques_champignon', { 'id': champignon.id }) }}">Caractéristiques</a> <br>
    <a class="btn btn-default" href="{{ path('lictevel_mycelium_ecrire_message', { 'pseudo': champignon.joueur.pseudo}) }}">Envoyer un message</a>
  </p>
</div>
