{# src/Lictevel/MyceliumBundle/Resources/views/Mycelium/joueurs.html.twig #}


{% extends "LictevelMyceliumBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Joueurs{% endblock %}


{% block body %}

    <h1>Liste des joueurs : </h1>

  <div class="col-xs-12">
    {{ form_start(form) }}
      {{ form_row(form.Pseudo, { 'label': 'Rechercher un joueur', 'attr': { 'autocomplete': 'off'} }) }}
      <div id="results" class="col-xs-12">

      </div>
    {{ form_end(form) }}
  </div>

  {% if (joueurs is defined) and (joueurs is not empty) %}
    {% for joueur in joueurs %}
      {{ include('LictevelMyceliumBundle:Mycelium:joueur.html.twig', { 'joueur': joueur} ) }}
    {% endfor %}

    <ul class="pager col-xs-12">
      {% if page != 0 %}
        <li><a href="{{ path('lictevel_mycelium_joueurs', { 'page': page - 1}) }}">Précedent</a></li>
      {% endif %}
      <li><a href="{{ path('lictevel_mycelium_joueurs', { 'page': page + 1}) }}">Suivant</a></li>
    </ul>
  {% else %}
    {% if (result is defined) and (result is not empty)  %}
      {% for joueur in result %}
        {{ include('LictevelMyceliumBundle:Mycelium:joueur.html.twig', { 'joueur': joueur} ) }}
      {% endfor %}
    {% elseif (result is defined) and (result is empty) %}
      <p>Il n'y a pas de résultats pour votre recherche</p>
    {% else %}
      <p>Il n'y a pas de joueurs pour cette page !</p>
      <a class="btn btn-default" href="{{ path('lictevel_mycelium_joueurs') }}">Revenir à la liste des joueurs</a>
    {% endif %}
  {% endif %}

{% endblock %}

{% block javascript %}

  <script type="text/javascript">

  $("#lictevel_myceliumbundle_joueur_Pseudo").on('input', function() {
    console.log("input fonctionne");
    var parameters = { search: $('#lictevel_myceliumbundle_joueur_Pseudo').val(), input: 's1' };
    $.get('/mycelium/autocompletion-joueur', parameters, function(data){
      $("#results").html(data);
    });
  });

  $(document).on('click', '#autocomp',function(event){
        $("#lictevel_myceliumbundle_joueur_Pseudo").val($(event.target).text());
        $('#results').hide();
      });
  </script>

  {% endblock %}
