{# src/Lictevel/MyceliumBundle/Resources/views/Mycelium/joueurs.html.twig #}


{% extends "LictevelMyceliumBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Joueurs{% endblock %}


{% block body %}

  <h1>Liste des joueurs : </h1>

  {% if joueurs is not empty %}
    {% for joueur in joueurs %}
      <div class="well col-xs-3">
        <p>{{ joueur.pseudo }}</p> <br>
        <a class="btn btn-default" href="{{ path('lictevel_mycelium_ajouter_ami', {'id': joueur.id }) }}">Ajouter en ami</a>
      </div>
    {% endfor %}

    <ul class="pager col-xs-12">
      {% if page != 0 %}
        <li><a href="{{ path('lictevel_mycelium_joueurs', { 'page': page - 1}) }}">Précedent</a></li>
      {% endif %}
      <li><a href="{{ path('lictevel_mycelium_joueurs', { 'page': page + 1}) }}">Suivant</a></li>
    </ul>
  {% else %}
    <p>Il n'y a pas de joueurs pour cette page !</p>
    <a class="btn btn-default" href="{{ path('lictevel_mycelium_joueurs') }}">Revenir à la liste des joueurs</a>
  {% endif %}

{% endblock %}
