<p> {{ message }} </p>

{% if app.session.has('pseudo') %}
  <div class="list-group">
    {% if (app.session.has('champignon')) and (app.session.get('champignon') != null) %}
      <p> Champignon actuel : </p>
      <p> {{ app.session.get('champignon').name }}</p>
      <a href=" {{ path('lictevel_mycelium_caracteristiques_champignon', { 'id': app.session.get('champignon').id }) }}">
        <img src="" alt="Ici la photo du champi (qui est un lien, faire lien vers stats du champi en question ?)">
      </a>
    {% endif %}
    <a href="{{ path('lictevel_mycelium_mes_champignons') }}" class="list-group-item">Mes champignons</a>
    <a href="{{ path('lictevel_mycelium_mes_mutations') }}" class="list-group-item">Mes mutations</a>
    <a href="{{ path('lictevel_mycelium_mon_mycelium') }}" class="list-group-item">Mon mycélium</a>
    <a href="{{ path('lictevel_mycelium_production') }}" class="list-group-item">Production</a>
    <a href="{{ path('lictevel_mycelium_mes_defenses') }}" class="list-group-item">Mes défenses</a>
    <a href="{{ path('lictevel_mycelium_statistiques') }}" class="list-group-item">Statistiques</a>
  </div>

  Ressources par 'temps' au total de tous les champis :

    Ici afficher les quantités de ressources persistantes
{% else %}

{% endif %}
