{# src/Lictevel/MyceliumBundle/Resources/views/Mycelium/mesAmis.html.twig #}


{% extends "LictevelMyceliumBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Mes amis{% endblock %}


{% block body %}

  <h1>Mes Amis</h1>

  {% for message in app.session.flashbag.get('notice') %}
    <p> {{ message }} </p>
  {% endfor %}

  {% if amis is not empty %}
    {% for ami in amis %}
      <div class="well col-xs-6 col-sm-3">
        {% if ami.image != null %}
          <img class="img-responsive" src="{{ asset('uploads/images/' ~ ami.image.url) }}" alt="{{ ami.image.alt }}">
        {% else %}
          <p>(Pas de photo de profil)</p>
        {% endif %}
        <p>{{ ami.pseudo }}</p>
        <a class="btn btn-default" href="{{ path('lictevel_mycelium_ecrire_message', {'pseudo': ami.pseudo}) }}">Envoyer un message</a>
      </div>
    {% endfor %}
  {% else %}
    <p>Vous n'avez pas d'amis</p>
  {% endif %}

{% endblock %}
