{# src/Lictevel/MyceliumBundle/Resources/views/Mycelium/mesChampignons.html.twig #}


{% extends "LictevelMyceliumBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Mes champignons{% endblock %}


{% block body %}

  <h1>Mes champignons</h1>

  {% if listChampignons != null %}

    {% for message in app.session.flashbag.get('notice') %}
      <p> {{ message }} </p>
    {% endfor %}

    <div class="col-xs-12">
      <a class="btn btn-default" href="{{ path('lictevel_mycelium_creer_champignon') }}">Créer un nouveau champignon</a> <br>
    </div>

    {% for champignon in listChampignons %}
      <div class="well col-xs-6 col-sm-3">
        <p>Champignon : {{ champignon.name }}</p>
        <a class="btn btn-default" href="{{ path('lictevel_mycelium_changer_champignon', { 'id': champignon.id}) }}">Jouer avec</a>
      </div>
    {% endfor %}

  {% else %}
    <p>Vous n'avez pas de champignons !</p>
    <p>Choisissez un nom pour votre premier champignon :</p>
    {{ form(form) }}
  {% endif %}


{% endblock %}
