{# src/Lictevel/MyceliumBundle/Resources/views/Mycelium/mocCompte.html.twig #}


{% extends "LictevelMyceliumBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Mon compte{% endblock %}


{% block body %}

  <h1>Mon Compte</h1>

  {% for message in app.session.flashbag.get('notice') %}
    <p> {{ message }} </p>
  {% endfor %}

  {{ form(form) }}

  {% if url is defined %}
    <p>Votre photo de profil : </p>
    <img src="{{ asset('uploads/images/' ~ url) }}" alt="{{ alt }}">
  {% else %}
    <p>Vous n'avez pas de photo de profil</p>
  {% endif %}

  ----------------------
  Mon compte :

  Les détails du compte de l'utilisateur

  Ajouter une image de profil
  ----------------------

{% endblock %}
