{# src/Lictevel/MyceliumBundle/Resources/views/Mycelium/monMycelium.html.twig #}


{% extends "LictevelMyceliumBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Mon mycelium {% endblock %}


{% block body %}

  <h1>Mon Mycelium</h1>

  {% for case in mycelium %}
    <div class="col-xs-3">
      <form class="" action="{{ path('lictevel_mycelium_mon_mycelium') }}" method="post">
        <label for="abscisse"> Abscisse : </label>
        <input type="text" name="abscisse" value="{{ case.abscisse }}" disabled> <br>

        <label for="ordonnee"> Ordonnee : </label>
        <input type="text" name="ordonnee" value="{{ case.ordonnee }}" disabled> <br>

        <label for="type"> Type : </label>
        <input type="text" name="type" value="{{ case.type }}" disabled> <br>

        <label for="occupee"> Occupée : </label>
        <input type="text" name="occupee" value="{% if case.occupee %} Oui {% else %} Non {% endif %}" disabled> <br>

        <input type="submit" name="type" value="Valider"> <br>
      </form>
    </div>
  {% endfor %}


{% endblock %}
