{# src/Lictevel/MyceliumBundle/Resources/views/Mycelium/monMycelium.html.twig #}


{% extends "LictevelMyceliumBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Mon mycelium {% endblock %}


{% block body %}

  {% for message in app.session.flashbag.get('notice') %}
    <p> {{ message }} </p>
  {% endfor %}

  <div class="col-xs-8 col-sm-10">
    <h1>Mon Mycelium</h1>

    <a class="btn btn-default" href="{{ path('lictevel_mycelium_choisir_emplacement_mycelium') }}">Ajouter un mycelium</a>
  </div>

  {% for case in mycelium %}
    <div class="well col-xs-3">
      <p> Type : <strong id="type">{{ case.type }}</strong></p>
      <p> Abscisse : <strong id="abscisse">{{ case.abscisse }}</strong></p>
      <p> Ordonnee : <strong id="ordonnee">{{ case.ordonnee }}</strong></p>
      <p> Palier : <strong id="palier">{{ case.palier }}</strong></p>
      <p> Occupee : <strong id="occupee">{% if case.occupee %} Oui {% else %} Non {% endif %}</strong></p>
      <p> Production de nutriments : <strong id="prodNutriments">{{ case.prodNutriments }}</strong></p>
      <p> Production de spores : <strong id="prodSpores">{{ case.prodSpores }}</strong></p>
      <p> Production de poison : <strong id="prodPoison">{{ case.prodPoison }}</strong></p>
      <p> Production d'enzymes : <strong id="prodEnzymes">{{ case.prodEnzymes }}</strong></p>
      <p> Production de filaments parasitiques : <strong id="prodFilamentsPara">{{ case.prodFilamentsPara }}</strong></p>
      <p> Production de filaments symbiotiques : <strong id="prodFilamentsSym">{{ case.prodFilamentsSym }}</strong></p>
    </div>
  {% endfor %}

{% endblock %}
