{# src/Lictevel/MyceliumBundle/Resources/views/Mycelium/statistiques.html.twig #}


{% extends "LictevelMyceliumBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Statistiques{% endblock %}


{% block body %}

  <h1>Mes statistiques</h1>

  <p>
    Nombre de champignons créés : {{ nombreDeChampignonsPerso }} <br>
    Nombre de cases créées : <br>
    Nombre de cases occupeés : <br>

  </p>
  <h1>Statistiques globales</h1>

  <p>
    Nombre de joueurs inscrits : {{ joueursInscrits }} <br>
    Nombre de joueurs connectés : {{ joueursEnLigne }} <br>
    Nombre de champignons créés : {{ nombreDeChampignons }} <br>
    Nombre de cases créées : {{ nombreDeCasesCreees }} <br>
    Nombre de cases occupées : {{ nombreDeCasesOccupees }} <br>
    <br>
    Quantité de nutriments générés : {{ productionTotaleNutriments }} <br>
    Quantité de spores générés : {{ productionTotaleSpores }} <br>
    Quantité de poison généré : {{ productionTotalePoison }} <br>
    Quantité d'enzymes générées : {{ productionTotaleEnzymes }} <br>
    Quantité de filaments parasitiques générés : {{ productionTotaleFilamentsPara }} <br>
    Quantité de filaments symbiotiques générés : {{ productionTotaleFilamentsSym }} <br>
  </p>

{% endblock %}
